* {
  box-sizing: border-box;
}

body {
  margin: 0;
  max-height: 100vh;
  background-color: #222;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.controls-wrapper button {
  border: none;
  background: none;
  color: white;
  font-size: 2.3em;
  position: relative;
  cursor: pointer;
}

.controls-wrapper button::after {
  content: "";
  width: 1.5em;
  height: 1.3em;
  border: 1px solid white;
  display: block;
  position: absolute;
  top: 6%;
  left: 0;
  border-radius: 5px;
}

.sliders-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.range-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3em;
  padding: 10px 100px;
}

.range-slider input {
  height: 70vh;
  margin-bottom: 10px;
}

.range-slider span {
  filter: saturate(attr(data-saturation));
}

input[type=range]::-webkit-slider-thumb, input[type=range]::-ms-thumb, input[type=range]::-moz-range-thumb  {
  padding: 1em;
  cursor: pointer;
}
